{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_missing_spec_all
]}.

{deps, [
    {jsx, "3.0.0"},
    {getopt, "1.0.1"},
    {yamerl,
        {git, "https://github.com/erlang-ls/yamerl.git",
            {ref, "9a9f7a2e84554992f2e8e08a8060bfe97776a5b7"}}}
]}.

{plugins, [
    {rebar3_lint, "1.0.2"}
]}.

{project_plugins, [
    erlfmt
]}.

{minimum_otp_vsn, "23.0"}.

{escript_emu_args, "%%! -connect_all false\n"}.
{escript_main_app, els_dap}.
{escript_name, els_dap}.

{profiles, [
    {test, [
        {erl_opts, [
            nowarn_export_all,
            nowarn_missing_spec_all
        ]},
        {deps, [
            {meck, "0.9.0"}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps},
    {plt_extra_apps, [debugger]}
]}.

{edoc_opts, [{preprocess, true}]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
{xref_ignores, []}.

{erlfmt, [
    write,
    {files, ["{src,include,test}/*.{erl,hrl,app.src}", "rebar.config", "elvis.config"]}
]}.
