{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    warn_unused_import,
    warn_missing_spec_all
]}.

{deps, [
    {jsx, "3.0.0"}
]}.

{plugins, [
]}.

{project_plugins, [
]}.

{minimum_otp_vsn, "23.0"}.

{escript_emu_args, "%%! -connect_all false\n"}.
{escript_main_app, els_dap}.
{escript_name, els_dap}.

{profiles, [
    {test, [
        {erl_opts, [
            nowarn_export_all,
            nowarn_missing_spec_all
        ]},
        {deps, [
            {meck, "0.9.0"}
        ]}
    ]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps},
    %% Depending on the OTP version, erl_types (used by
    %% els_typer), is either part of hipe or dialyzer.
    {plt_extra_apps, [dialyzer, hipe, mnesia, common_test, debugger]}
]}.

{edoc_opts, [{preprocess, true}]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.
%% Set xref ignores for functions introduced in OTP 23 & function of wrangler
{xref_ignores, [
    {code, get_doc, 1},
    {shell_docs, render, 4},
    wrangler_handler,
    api_wrangler,
    wls_code_lens,
    wls_highlight,
    wls_semantic_tokens,
    wls_code_actions,
    wls_execute_command_provider
]}.

{erlfmt, [
    write,
    {files, ["apps/*/{src,include,test}/*.{erl,hrl,app.src}", "rebar.config", "elvis.config"]}
]}.
